<!-- Add Group Form -->
    <div class="col-md-5 text-center groupList_box d-flex justify-content-center align-items-center row">
      <h3 class="header_text">Add a Group</h3>
        {{#each playGroupList}}
          <div class="col-8 hover_row text-center">
            <a class="list_anchor" href="/{{playgroup_id}}">{{group_name}}</a>
          </div>
        {{/each}}
    </div>
<!-- Add Group Form -->