<!-- Card Carousel -->
  <div class = "container-fluid row justify-content-around">
    <div class="col-md-11 row justify-content-around card_row">

      {{!-- First Card --}}
      <div class="col-md-5 test_box row justify-content-between d-flex align-items-center">
        <img class="rounded float-left card_size" src="https://c1.scryfall.com/file/scryfall-cards/normal/front/b/4/b4427e73-8c60-490d-8ae3-53e872a5163e.jpg?1608911054">
        <div class="col row align-items-center">
          <p class="text-center p_heading"><b><u>BEST DECK OF THE PLAYGROUP</u></b></p>
          <div class="col">
            <div class="row">
              <p class="col text-end">Commander: </p>
              <p class="col"><b>Belbe, Corrupted Observer</b></p>
            </div>
            <div class="row">
              <p class="col text-end">Pilot: </p>
              <p class="col"><b>Nathan D.</b></p>
            </div>
            <div class="row">
              <p class="col text-end">Average Win: </p>
              <p class="col"><b>55.5</b>%</p>
            </div>
            <div class="row">
              <p class="col text-end">Total Games Played: </p>
              <p class="col"><b>15</b></p>
            </div>
            <div class="row">
              <p class="col text-end">Arch-Enemy: </p>
              <p class="col"><b>Marath, Will of the Wild</b></p>
            </div>
          </div>
        </div>
      </div>
      {{!-- First Card --}}
      {{!-- Second Card --}}
      <div class="col-md-5 test_box row justify-content-between d-flex align-items-center">
        <img class="rounded float-left card_size" src="https://c1.scryfall.com/file/scryfall-cards/large/front/7/f/7f36775e-9e48-49cc-a771-d58481712edc.jpg?1631047424">
        <div class="col row align-items-center">
          <p class="text-center p_heading"><b><u>WORST DECK OF THE PLAYGROUP</u></b></p>
          <div>
            <div class="row">
              <p class="col text-end">Commander: </p>
              <p class="col"><b>Orvar, the All-Form</b></p>
            </div>
            <div class="row">
              <p class="col text-end">Pilot: </p>
              <p class="col"><b>Vladimir B.</b></p>
            </div>
            <div class="row">
              <p class="col text-end">Average Win: </p>
              <p class="col"><b>13.33</b>%</p>
            </div>
            <div class="row">
              <p class="col text-end">Total Games Played: </p>
              <p class="col"><b>15</b></p>
            </div>
            <div class="row">
              <p class="col text-end">Arch-Enemy: </p>
              <p class="col"><b>Belbe, Corrupted Observer</b></p>
            </div>
          </div>
        </div>
      </div>
      {{!-- Second Card --}}
      {{!-- Third Card --}}
      <div class="col-md-5 test_box row justify-content-between d-flex align-items-center">
        <img class="rounded float-left card_size" src="https://c1.scryfall.com/file/scryfall-cards/large/front/5/7/57afa796-db46-45ff-91bd-f02922e5f33d.jpg?1643645446">
        <div class="col row align-items-center">
          <p class="text-center p_heading"><b><u>MOST PLAYED DECK OF THE PLAYGROUP</u></b></p>
          <div>
            <div class="row">
              <p class="col text-end">Commander: </p>
              <p class="col"><b>Marath, Will of the Wild</b></p>
            </div>
            <div class="row">
              <p class="col text-end">Pilot: </p>
              <p class="col"><b>Colin G.</b></p>
            </div>
            <div class="row">
              <p class="col text-end">Average Win: </p>
              <p class="col"><b>43.33</b>%</p>
            </div>
            <div class="row">
              <p class="col text-end">Total Games Played: </p>
              <p class="col"><b>30</b></p>
            </div>
            <div class="row">
              <p class="col text-end">Arch-Enemy: </p>
              <p class="col"><b>Omnath, Locus of Creation</b></p>
            </div>
          </div>
        </div>
      </div>
      {{!-- Third Card --}}


    </div>
  </div>
  {{!-- <script src="js/login.js"></script> --}}
<!-- Card carousel -->