<!-- Disclaimer -->
<br><br>
<div class = "row justify-content-center" id="disclaimer">
  <div class = "col-md-8">
    <p class="footer">
        DISCLAIMER: Currently a work in progress! Some data is hard coded in for appearance and mockup
    </p>
    <p class="footer">
        As of 6/21/22, the database backend still needs a few more routes. Models are complete and seeds need more data.
        "Scryfall" API functionality broken. Hardcoded image URL's
    </p>
    <p class="footer">
        Need to add "Player" page for generalized stats and player list. Need to add a "Decks" page for generalized stats and deck list.
    </p>
  </div>
</div>
<!-- Disclaimer -->