<!-- Game Summary -->
<div class="container-fluid justify-content-center d-flex" id="game_summary">
  <div class="col-md-10 text-center test_box">
    <h2 class="mb-3 header_text">MATCH HISTORY</h2>
    {{!-- <h2 class="mb-3 header_text">Game History Table</h2> --}}
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Game #</th>
          <th scope="col">First Place</th>
          <th scope="col">Second Place</th>
          <th scope="col">Third Place</th>
          <th scope="col">Fourth Place</th>
        </tr>
      </thead>
      <tbody>
        {{!-- Game 1 --}}
        <tr>
          <th scope="row" class="no_line">1</th>
          <td class="no_line">Orvar</td>
          <td class="no_line">Tuvasa</td>
          <td class="no_line">Alela</td>
          <td class="no_line">Zaffai</td>
        </tr>
        <tr>
          <th scope="row">05/13/22</th>
          <td>Vladimir B</td>
          <td>Christine S.</td>
          <td>Nathan</td>
          <td>Matt</td>
        </tr>
        {{!-- Game 1 --}}
        {{!-- Game 2 --}}
        <tr>
          <th scope="row" class="no_line">2</th>
          <td class="no_line">Orvar</td>
          <td class="no_line">Tuvasa</td>
          <td class="no_line">Alela</td>
          <td class="no_line">Zaffai</td>
        </tr>
        <tr>
          <th scope="row">05/13/22</th>
          <td>Vladimir B</td>
          <td>Christine S.</td>
          <td>Nathan</td>
          <td>Matt</td>
        </tr>
        {{!-- Game 2 --}}
        {{!-- MULTI GAME  --}}
        {{#each gameHistory}}
        <p>intentional break</p>
        <tr>
          <th scope="row" class="no_line">{{game_id}}</th>
          <td class="no_line">{{first_place_deck_id}}</td>
          <td class="no_line">fasdfasefa</td>
          <td class="no_line">Alela</td>
          <td class="no_line">Zaffai</td>
        </tr>
        <tr>
          <th scope="row">05/13/22</th>
          <td>Vladimir B</td>
          <td>Christine S.</td>
          <td>Nathan</td>
          <td>Matt</td>
        </tr>
        {{/each}}
        {{!-- MULTI GAME --}}
      </tbody>
    </table>
  </div>
</div>
  {{!-- <script src="js/login.js"></script> --}}
<!-- Game Summary -->