<!-- Navbar -->
<nav class="navbar navbar-expand-lg fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">HOME</a>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/playGroups">Change Playgroup</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#game_summary">Game History</a>
        </li>
        {{!-- <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li> --}}
      </ul>
      <span class="navbar-text">
        Additional Functionality in the Works!
      </span>
    </div>
  </div>
</nav>
<!-- Navbar -->