<div class="container-fluid h-100">
  <div class="h-100 d-flex flex-column">
    <div class="row">
      <header class="">
        <!-- Jumbotron -->
        <div class="row bg_hdr">
          <div class="col-md-12 col-xs-12 text-center">
            <div class="header_text p-2">
              <h4 class="mb-2 bg_disclaimer">work in progress!</h3>
              <h1 class="mb-3 main_title">MAGIC THE GATHERING</h1>
              <h2 class="mb-3 main_title">Casual EDH Stat Tracker</h2>
              <h3 class="mb-3">Playgroup: Blue Highway Games (Seattle, WA)</h3>
            </div>
          </div>
        </div>
        <!-- Jumbotron -->
      </header>
    </div>

    <div class="row pt-5 pb-5 flex-grow-1">
      <main>
        <div class="row h-100" id="mainContent">

            {{>card_carousel}}

        </div>
      </main>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
<script src='/js/landing.js'></script>