<div class="container-fluid">
  <div class="d-flex flex-column">
      
      <header class="row">
        <!-- Jumbotron -->
        <div class="row bg_hdr">
          <div class="col-md-12 col-xs-12 text-center">
            <div class="header_text p-2">
              <br><br>
              <h1 class="mb-3 main_title">MAGIC THE GATHERING</h1>
              <h2 class="mb-3 main_title">Casual EDH Stat Tracker</h2>
              <br><br>
              <h3 class="mb-3 main_title">Select a playgroup from below</h3>
            </div>
          </div>
        </div>
        <!-- Jumbotron -->
      </header>

      {{>navbar}}

      <main class="container-fluid justify-content-around d-flex" id="playgroup_list">
        <div class="col-md-5 text-center groupList_box d-flex justify-content-center align-items-center row">
          <h3 class="header_text">Playgroup List</h3>
            {{#each playGroupList}}
              <div class="col-8 hover_row text-center">
                <a class="list_anchor" href="/{{playgroup_id}}">{{group_name}}</a>
              </div>
            {{/each}}
        </div>
        {{>addGroup}}
      </main>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
<script src='/js/landing.js'></script>