:root {
  --background-color: grey;
  --banner-color: #0F051C; /* Purple, 15,5,28 */
}

/* MAIN PAGE */

body {
  /* background-color: grey; */
  /* background-image: linear-gradient(#00101C, #1B244A); */
  background-image: linear-gradient(#1B244A, #00101C);
}

.bg_hdr {
  height: fit-content;
  /* background-color: var(--background-color); */
}

.header_text {
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 3px 3px black;
}

.card_carousel_div {
  height: 20vh;
}

header h1 {
  font-size: 5vw;
}

header h2 {
  font-size: 2vw;
}

header h3 {
  font-size: 1vw;
  text-shadow: 0px 0px black;
}

h4 {
  text-shadow: 0px 0px black;
  font-size: 15px;
  color: grey;
  text-align: center;
  background-color: var(--banner-color);
}

.row {
  margin: 0;
}

#copyright_footer, .navbar {
  background-color: var(--banner-color);
  color: grey;
}

.navbar-brand, .nav-link, .navbar-text {
  color: grey;
}

.navbar-brand:visited, .nav-link:visited, .navbar-text:visited {
  color: grey;
}

.navbar-brand:hover, .nav-link:hover/*, .navbar-text:hover*/ {
  color: white;
}

.footer {
  padding: 5px 0px 5px 0px;
  margin: 15px;
  overflow-wrap: normal;
  font-size: 14px;
}

#disclaimer {
  background-color: var(--banner-color);
  color: grey;
}

#disclaimer p{
  text-align: center;
}

.test_box{
  background-color: grey;
  margin: 75px 0px 35px 0;
  /* padding: 75px, 0px, 75px, 0; */
  border-radius: 10px;
  border: solid white 3px;
  box-shadow: 10px 10px 5px var(--banner-color);
  min-height: 250px;
  padding-left: 0px;
  padding-right: 0px;
}

.groupList_box{
  background-color: grey;
  margin: 15px 0px 35px 0;
  /* padding: 75px, 0px, 75px, 0; */
  border-radius: 10px;
  border: solid white 3px;
  box-shadow: 10px 10px 5px var(--banner-color);
  /* min-height: 100px; */
  padding-left: 0px;
  padding-right: 0px;
}

.hover_row:hover {
  color: var(--background-color);
  background-color: rgba(15, 5, 28, 0.8);
}

.card_row {
  margin: 25px, 0px, 25px, 0;
  padding: 25px, 0px, 25px, 0;
}

.inside_box {
  background-color: grey;
}

.card_size {
  width: auto;
  height: 300px;
  border-radius: 8px;
  padding: 0;
  margin: 0;
  border: 0;
  vertical-align: middle;
}

.card_holder {
  padding: 0;
  margin: 0;
  vertical-align: middle;
}

img {
  vertical-align: middle;
}

.custom_width {
  max-width: 600px;
}

.list_anchor {
  text-decoration: none;
  color: white;
}

.list_anchor:hover {
  color: grey;
}

p {
  overflow-wrap: break-word;
  padding: 3px;
  margin: auto;
}

.p_heading {
  padding: 15px 0px 15px 0px;
  /* margin: 10px 0px 15px 0px; */
}

.row {
  align-items: center;
  padding: 5px 0px 5px 0px;
  /* border: 1px solid black */
}

.no_line {
  border: 0;
  border-bottom: 0px;
}

